<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bootstrap.load_css() }}

    <title>Hello World</title>
</head>
<body>
   <h1 style = 'color:blue; font-size:75px;'>Diego's favorite acronym</h1> 
   <p style='font-size:25px'><b><i>LOL</i></b></p>

    <div class = 'text-center'>
        <img src="https://static.wikia.nocookie.net/ultimate-pokemon-fanon/images/d/d4/Treecko_in_Alpha_andOmega.png/revision/latest?cb=20140624170136" class="rounded w-50">
    </div>

</body>
</html>